.about{
    //background-color: white;
    &__img{
        height: 400px;
    }

    &__description{
     font-size:17px;
    // color:black;

    @include media-breakpoint-down(sm){
       font-size:10px;
    }
    }
    
}